services:
  ntrip-client:
    build: ./ntrip-client # Local Development Only
    # image: ghcr.io/drew/polaris/ntrip-client:latest # For Final Deliverable
    container_name: ntrip-client
    environment: 
      - LIGHTHOUSE_HOSTNAME=${LIGHTHOUSE_HOSTNAME}
      - LIGHTHOUSE_ADMIN_PASSWORD=${LIGHTHOUSE_ADMIN_PASSWORD}
    volumes:
      - ../common:/common
    devices:
      - "${GNSS_DEVICE_FILE}:${GNSS_DEVICE_FILE}"  # GNSS Receiver
    ports:
      - "2101:2101"   # NTRIP
    restart: unless-stopped
  enrollment-client:
    build: ../common/enrollment-client
    # image: ghcr.io/drew/polaris/enrollment-client:latest # For Final Deliverable
    container_name: enrollment-client
    environment: 
      - LIGHTHOUSE_GROUP_NAME=rover
      - LIGHTHOUSE_HOSTNAME=${LIGHTHOUSE_HOSTNAME}
      - LIGHTHOUSE_ADMIN_PASSWORD=${LIGHTHOUSE_ADMIN_PASSWORD}
    volumes:
      - ./shared:/home/enrollment-client/shared
    restart: unless-stopped
  nebula:
    image: nebulaoss/nebula:latest
    container_name: nebula
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    volumes:
      - ./shared:/config
    depends_on:
      - enrollment-client
    restart: unless-stopped
