services:
  ntrip-caster:
    build: ./ntrip-caster
    # image: polaris/ntrip-caster:latest  # FOR FINAL DELIVERABLE
    container_name: ntrip-caster
    volumes:
      - ./shared:/home/ntrip-caster
      - ../common:/common
    devices:
      - "${GNSS_DEVICE_FILE}:${GNSS_DEVICE_FILE}"  # GNSS Receiver
    ports:
      - "2101:2101" # NTRIP
    restart: unless-stopped
  enrollment-client:
    build: ../common/enrollment-client
    # image: polaris/enrollment-client:latest  # FOR FINAL DELIVERABLE
    container_name: enrollment-client
    environment: 
      - LIGHTHOUSE_GROUP_NAME=basestation
      - LIGHTHOUSE_HOSTNAME=${LIGHTHOUSE_HOSTNAME}
      - LIGHTHOUSE_ADMIN_PASSWORD=${LIGHTHOUSE_ADMIN_PASSWORD}
    volumes:
      - ./shared:/home/enrollment-client/shared
    ports:
      - "80:80"   # HTTP
      - "443:443" # HTTPS
    restart: unless-stopped
  nebula:
    image: nebulaoss/nebula:latest
    container_name: nebula
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    volumes:
      - ./shared:/config
    depends_on:
      - enrollment-client
    restart: unless-stopped